#titulo1{
    text-align: center;
    text-transform: uppercase;
    color: greenyellow;
}
#titulo2{
    text-align: left;
    color: red;
}

.paragrafo_especial{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgoldenrod;
    font-size: 18px;
}

.paragrafo_normal{
    font-size: 14px;
    text-align: justify;
}